Repository KanadeHu/vite-plugin-parse-html: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "!(package)*.json'": ["prettier --write--parser json"],
  "*.md": ["prettier --write"]
}

feat: add example project to show plugin document
  .gitignore
  package.json
  packages/core/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsup.config.ts
  packages/example/index.html
  packages/example/package.json
  packages/example/src/App.tsx
  packages/example/src/main.tsx
  packages/example/src/vite-env.d.ts
  packages/example/vite.config.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add parse html plugin
  package.json
  packages/core/dist/index.js
  packages/core/dist/index.mjs
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/tsup.config.ts
  packages/example/package.json
  packages/example/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: reset transformIndexhtml function to support variables inject html
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
  packages/core/dist/index.mjs
  packages/core/src/index.ts
  packages/core/src/inject.ts
  packages/example/index.html
  packages/example/vite.config.ts
Due: eslint --fix, prettier --write

feat: declare plugin new options,new method
  packages/core/src/types.ts
Due: eslint --fix, prettier --write

feat: add resetTag and plugin test file
  packages/core/__test__/index.spec.ts
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
  packages/core/dist/index.mjs
  packages/core/src/__tests__/inject.ts
  packages/core/src/__tests__/resetTags.spec.ts
  packages/core/src/inject.ts
  packages/core/src/types.ts
Due: eslint --fix, prettier --write

build: build plugin
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
  packages/core/dist/index.mjs
Due: eslint --fix, prettier --write

build: change version
  packages/core/package.json
Due: none

feat: add docs and change inject method
  README.md
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
  packages/core/dist/index.mjs
  packages/core/package.json
  packages/core/src/index.ts
  packages/example/package.json
  packages/example/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: add description
  packages/core/package.json
Due: none

feat: export sourceItem, rewrite sourceItem types
  packages/core/src/index.ts
  packages/core/src/inject.ts
  packages/core/src/types.ts
  packages/core/tsup.config.ts
Due: eslint --fix, prettier --write

feat: change version
  packages/core/package.json
Due: none

build: package publish build
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
  packages/core/dist/index.mjs
Due: eslint --fix, prettier --write

docs
  README.md
Due: prettier --write

fix: update readme
  packages/core/README.md
  packages/core/package.json
Due: prettier --write

fix: update readme
  packages/core/README.md
Due: prettier --write

docs: update
  packages/core/package.json
Due: none

docs: update readme
  README.md
Due: prettier --write

fix: :bug: ejs render error fix
  packages/core/README.md
  packages/core/dist/index.js
  packages/core/dist/index.mjs
  packages/core/package.json
  packages/core/src/inject.ts
  packages/example/index.html
  packages/example/vite.config.ts
Due: eslint --fix, prettier --write

feat: :sparkles: add minify html function
  .gitignore
  README.md
  packages/core/README.md
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
  packages/core/dist/index.mjs
  packages/core/package.json
  packages/core/src/filter.ts
  packages/core/src/index.ts
  packages/core/src/minify.ts
  packages/core/src/types.ts
  packages/example/src/App.tsx
  packages/example/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

build: :rocket: npm publish
  packages/core/package.json
Due: none

feat: :white_check_mark: add test
  packages/core/src/__tests__/minify.ts
Due: eslint --fix, prettier --write

docs: update Readme
  README.md
Due: prettier --write

2.0.0
  package-lock.json
  package.json
Due: none

fix: remove coverage
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/filter.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/inject.ts.html
  coverage/lcov-report/minify.ts.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: eslint --fix, prettier --write

feat: :sparkles: add multi page support
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package.json
  playground/react/index.html
  playground/react/nested/index.html
  playground/react/nested/nest.tsx
  playground/react/package.json
  playground/react/pnpm-lock.yaml
  playground/react/src/App.tsx
  playground/react/src/NestApp.tsx
  playground/react/src/main.tsx
  playground/react/src/vite-env.d.ts
  playground/react/vite.config.ts
  playground/react/yarn.lock
  playground/vue/vite.config.ts
  pnpm-lock.yaml
  src/__tests__/filter.ts
  src/__tests__/inject.ts
  src/filter.ts
  src/inject.ts
  src/minify.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

2.1.0
  package-lock.json
  package.json
Due: none

feat: :bookmark: update version
  package.json
Due: none
